
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>contact</title>
</head>
<body>
    <div> 
        <h1>Contact page</h1>
        <h3>@ViewBag.message</h3>
    </div>
</body>
</html>
