
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<h3>Model Example</h3>
<table class="table">
    <thead>
        <tr>
            <th> ID</th>
            <th> Name</th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.model)
        {
            <tr>
                <td>@item.id</td>
                <td><a href="/home/Details/@item.id"> @item.name</a></td>
            </tr>
        }
    </tbody>
</table>