
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section class="hero">
    <div class="a">
        <div class="heroContent">
            <div class="row">
                <div class="heroCont col-sm-6">
                    <h1>E!Store </h1>
                    <p class="contentPara">
                        If you would like to experience the best of Electronic Products for men, women and kids in India, you are at the right place.</p>
                    <a href="/home/login" class="btn btn-primary">Shop Now !</a>
                </div>

                <div class="col-sm-6 imgDiv">
                    <img class="heroImg" src="~/images/hero2.jpg" />

                </div>
            </div>
        </div>
    </div>
</section>

