
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link rel="stylesheet" href="~/Style/home.css" />




<style>
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
         background-color: none;
         background-clip: border-box;
         border: none ;
        border-radius: 0;
            }
</style>
<section class="explore">
    <div class="exploreArea">
        <div class="exploreContent">
            <div class="card">
                <div class="category  neumorphic ridge">
                    <div class="categoryImage">
                        <img src="~/images/watch.jpg">
                    </div>
                    <h3>Smart Watch</h3>
                </div>
            </div>
            <div class="card">
                <div class="category  neumorphic ridge">
                    <div class="categoryImage">
                        <img src="~/images/mobile.jpg">
                    </div>
                    <h3>Mobile</h3>
                </div>
            </div>
            <div class="card">
                <div class="category  neumorphic ridge">
                    <div class="categoryImage">
                        <img src="~/images/headphone.jpg">
                    </div>
                    <h3>Headphones</h3>
                </div>
            </div>
        </div>
    </div>
</section>
